---
---

@import "{{ site.theme }}";
pre code {
    background-color: #f8f8f8;
}
@media (prefers-color-scheme:dark) {
    body {
        background: #282c35;
        color: hsla(0,0%,100%,0.88);
    }
    #main-content h1,
    #main-content h2,
    #main-content h3,
    #main-content h4 {
        color: #fff;
    }
    .highlight {
        background: rgb(54,60,72);
    }
    code {
        background-color: rgba(115,124,153,0.2);
    }
    code, pre {
        color: #ffee93;
    }
    pre code {
        background-color: rgb(54,60,72);
    }
    .highlight .k,
    .highlight .kv,
    .highlight .o {
        color: #fff;
    }
    aside#sidebar {
        background: #282c35;
    }
    blockquote {
        border-left: 10px solid #ccc;
    }

}
